*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home Page Styles*/
body{
   background: linear-gradient(190deg, #f0d9a6,#d8b56a, #E77A45, #BAAC86,#837f65);
   min-height: 100vh;
   background-repeat: no-repeat;
}

#container{
    margin-top: 50px 185px;
    background-color: white;
    border-radius: 15px;
    border: 5px solid #837f65;
    padding: 15px;

}

/*  Navigation Bar Styles */
.logo{
    width: 100px;
    height: auto;
    padding-right:25px;
}

nav{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: space-between;
}
#link_container{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    width: 40%;
}

/*Link styles*/
#link_container a{
    text-decoration: none;
    color: #d8b56a;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
#link_container a:hover{
    color: #E77A45;
    transition: 0.3s;
    scale: 1.1;
}

/* Headline section */
h1{
    font-size: 3em;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-self: center;
    color: #d8b56a;
}
h1:hover{
    transform:rotateX(360deg);
    transition: transform 0.5s;
}

#last_bit{
    margin-top: 15px;
    margin-bottom: 40px;
}
#headline{
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 140px ;
    padding-right: 140px ;
    margin-bottom: 40px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: normal;
}
.spacer{
    height: 20px;
}

/* Main Content Styles */
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titles{
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #d8b56a;
}
.wording{
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: Inter, sans-serif;
}

.list{
    margin-left: 30px;
}

ul{
    padding:2px;
}

#left{
    margin-left: 25px;
}
.home_pics{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #837f65;
}

footer{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    color:#d8b56a;
    font-weight: bold;
}

/*Receipes Page Styles*/

/*Sign Up Page Styles*/
h2, h3 {
    color: #d8b56a;
}

h3 {
    font-size: 1.5rem;
    padding: 30px;
}

#wrapper{
    margin: 50px 185px;
    background-color: white;
    border-radius: 15px;
    border: 5px solid #837f65;
    padding: 15px;
    text-align: center;

}

#myForm, #forminfo {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

#forminfo {
    padding-bottom: 10px;
}

#submit {
    color:white;
    border:#837f65 solid 2px;
    background-color: #837f65;
    width: 80px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
}

#submit:hover {
    color:#d8b56a;
    background-color: white;
}

#formContainer {
    margin-bottom: 80px;
}