*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 80px;
    margin-right: 80px;
}

.logo{
    width: 150px;
    height: auto;
    margin-right: 20px;
}

nav{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#link_container{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    width: 40%;
}


