*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 150px;
    margin-right: 150px;
}

/*  Navigation Bar Styles */
.logo{
    width: 220px;
    height: auto;
    padding-right:25px;
}

nav{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: space-between;
}

#link_container{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    width: 40%;
}

/* Headline section */
h1{
    font-size: 3em;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-self: center;
}
#last_bit{
    margin-top: 15px;
    margin-bottom: 40px;
}
#headline{
    margin-left: 65px;
    margin-right: 65px;
    padding-left: 150px ;
    padding-right: 150px ;
    margin-bottom: 40px;
    text-align: center;
}
.spacer{
    height: 20px;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wording{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    margin-top: 30px;
    text-align: center;
}